@import "css/leaflet.css";

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

.deutschland-karte {
    height: 600px;
    width: 100%;
}

.deutschland-karte__cluster {
    background-color: #fff;
    color: #000;
    border: solid 1.5px #5291aa;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}