@import "css/global.css";
@import "css/leaflet.css";
@import "css/home.css";
@import "css/upload-castle.css";
@import "css/deutschlandkarte.css";

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    margin: 0 5rem;
    color: var(--text-color);
}

.deutschland-karte {
    height: 600px;
    width: 100%;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
}

.deutschland-karte__cluster {
    background-color: #fff;
    color: #000;
    border: solid 1.5px #5291aa;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.input-validation-error {
    border: 1px solid red !important;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #dedede;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #38697e;
    border-radius: 3px;
}