.home {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5rem;
    margin-top: 2rem;
}

.home__left {

}

.home__right {

}

.home__text-search {
    width: calc(100% - 18px);
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
    border: 1px solid #00000050;
    border-radius: 3px;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    transition: all 0.2s;
    font-weight: bold; 
}

.home__text-search:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
}

.home__divider {
    margin: 1rem 0;
    color: #dedede;
}

.home__cards-wrapper {
    height: calc(600px - 74px);
    overflow-x: auto;
}

.home__deutschlandkarte-wrapper {
}

.home__text-search-wrapper {
    position: relative; 
}

.home__text-search__icon {
    height: 18px;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}

    .home__text-search__icon:hover {
        cursor: pointer;
        fill: var(--primary-color-20-brighter);
    }
