.search-section {
    margin-top: 3rem;
}

.feed-section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 3rem;

    margin-top: 3rem;
}

.feed__cards-container {

}

.feed__karte-wrapper {
}

