.upload-container {
    height: calc(100vh - 110px);
    display: flex;
    
}

.upload-image__wrapper {
    flex: 1;
}


.upload-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.upload-form {
    flex: 1;
    height: 100%;
    background-color: var(--primary-color-20-brighter);
    display: flex;
    align-items: center;
}

.upload-castle {
    text-align: center;
    padding: 6rem;
}

.upload-castle__row--one,
.upload-castle__row--two,
.upload-castle__row--three {
    display: grid;
    gap: 3rem;
    margin-bottom: 3rem;
}

.upload-castle__row--one {
    grid-template-columns: 2fr 1fr;
}

.upload-castle__row--two {
    grid-template-columns: 1fr 1fr;
}

.upload-castle__row--three {
    grid-template-columns: repeat(3, 1fr);
}

.upload-castle__input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1rem;
}

.upload-castle__input-wrapper input {
    width: 100%;
    height: 1.7rem;
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
    border: 1px solid #00000050;
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    transition: all 0.1s;
}

.upload-castle__input-wrapper input:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
}

.upload-castle__validation-message {
    position: absolute;
    color: red;
    font-size: 0.9rem;
    bottom: -20px;
}

.upload-castle__speichern-btn {
    height: 40px;
    min-width: 160px;
    padding: 0.25rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
    border: 1px solid #00000050;
    background-color: #8c542990;
    font-size: 1rem;
    transition: all 0.1s;
}

.upload-castle__speichern-btn:hover {
    cursor: pointer;
    background-color: #8c542970;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
}