
<section class="top-navigation">
    <div class="top-navigation__left-side">
        <NavLink class="nav-link" href="/">
            Medieval Germany
        </NavLink>
    </div>

    <div class="top-navigation__right-side">
        <NavLink class="nav-link" href="/upload-castle">
            Upload New Castle
        </NavLink>
        <NavLink class="nav-link" href="/impressum">
            Impressum
        </NavLink>
    </div>
</section>


