.castle-card {
    padding: 0.25rem 0.5rem;
    border: 1px solid #00000050;
    border-radius: 3px;
    display: flex;
    gap: 1rem;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.2s;
}

    .castle-card:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
        background-color: var(--hover-color);
    }

    .castle-card__image {
        width: 100px;
        height: 80px;
        object-fit: cover;
        border-radius: 3px
    }

.castle-card__right-side {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.castle-card__name {
    font-size: 1.3rem;
    font-weight: bold; 
}

.castle-card__infos {
    display: flex; 
    gap: 1rem;
    justify-content: space-between;
}