@inject IJSRuntime JsRuntime

<div id="deutschland-karte" class="deutschland-karte">
</div>

@code {
    [Parameter, EditorRequired] public required IEnumerable<Castle> Castles { get; set; }
    private IJSObjectReference? _module;
    private bool jsLoaded => _module != null;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var module = await GetModule();

            // Kartenmaterial initialisieren
            await module.InvokeVoidAsync("InitMap");

            // Marker setzen
            await module.InvokeVoidAsync("CreateMarker", Castles);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task OnParametersSetAsync()
    {
        if (jsLoaded)
        {
            var module = await GetModule();
            await module.InvokeVoidAsync("CreateMarker", Castles);
            await base.OnParametersSetAsync();
        }
    }

    private async ValueTask<IJSObjectReference> GetModule()
    {
        if (_module == null)
            _module = await JsRuntime.InvokeAsync<IJSObjectReference>
              ("import", "./js/deutschlandkarte.js");
        return _module;
    }
}
