@using Microsoft.AspNetCore.Components.Forms

<h3>Bild hochladen</h3>

<InputFile OnChange="async (e) => await HandleSelected(e)" />
<button @onclick="SaveImageToDatabase">Save</button>

@if (!string.IsNullOrEmpty(base64Image))
{
    <img src="@base64Image" alt="Ausgewähltes Bild" style="max-width: 100%; height: auto;" />
}

@code {
    private ElementReference inputFile;
    private string base64Image;
    public long FileSizeLimit { get; set; } = 20 * 1024 * 1024;

    private async Task HandleSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var resizedImageFile = await file.RequestImageFileAsync("image/jpg", 500, 500);
        var buffer = new byte[resizedImageFile.Size];

        using var stream = resizedImageFile.OpenReadStream(FileSizeLimit);
        using var ms = new MemoryStream();

        await stream.CopyToAsync(ms);
        var imagebyte = ms.ToArray();
        var baseImage = Convert.ToBase64String(imagebyte);

        base64Image = $"data:{file.ContentType};base64,{baseImage}";
    }

    private Task SaveImageToDatabase()
    {
        return Task.CompletedTask;
    }
}