@using MedievalGermany.Components.Components

@page "/"
@inject ICastleService CastleService

<PageTitle>Medieval Germany</PageTitle>

<section class="search-section">
    <div>
        <input type="text" @bind-value="@_searchArguments.Suchtext" @bind-value:event="onchange" @bind-value:after="Requery" placeholder="Suchtext..." />
    </div>
</section>

<section class="feed-section">
    @if (Castles != null)
    {
        <div class="feed__cards-container">
            @foreach (var castle in Castles)
            {
                <CastleCard Castle="@castle" />
            }
        </div>

        <div class="feed__karte-wrapper">
            <Deutschlandkarte Castles="@Castles" OnMapViewChange="HandleOnMapViewChange" />
        </div>
    }
</section>

@code {
    IEnumerable<Castle>? Castles { get; set; } 
    private SearchArguments _searchArguments { get; set; } = new SearchArguments();


    protected override async Task OnInitializedAsync()
    {
        await Requery();

        await base.OnInitializedAsync();
    }

    async Task Requery()
    {
        Castles = await CastleService.GetCastles(_searchArguments);
    }

    async Task HandleOnMapViewChange(BoundingBox boundingBox)
    {
        // SearchArguments mit BoundingBox updaten
        _searchArguments.BoundingBox = boundingBox;

        // Neuladen
        await Requery();
    }
}