@using MedievalGermany.Components.Components

@page "/"
@inject ICastleService CastleService

<PageTitle>Medieval Germany</PageTitle>

@if (Castles.Any())
{
    <div>
        @foreach (var castle in Castles)
        {
            <CastleCard Castle="@castle"/>
        }
    </div>

    <Deutschlandkarte Castles="@Castles" />
}

@code {
    IEnumerable<Castle> Castles { get; set; } = Enumerable.Empty<Castle>();
    private SearchArguments _searchArguments { get; set; } = new SearchArguments();


    protected override async Task OnInitializedAsync()
    {
        Castles = await CastleService.GetCastles(_searchArguments);

        await base.OnInitializedAsync();
    }
}