@using MedievalGermany.Components.Components

@page "/"
@inject ICastleService CastleService

<PageTitle>Medieval Germany</PageTitle>

<section class="home">
    <div class="home__left">
        <input class="home__text-search" type="text" @bind-value="@_searchArguments.Suchtext" @bind-value:event="onchange" @bind-value:after="Requery" placeholder="Suchtext..." />

        <hr class="home__divider" />

        @if (Castles != null)
        {
            <div class="home__cards-wrapper">
                @foreach (var castle in Castles)
                {
                    <CastleCard Castle="@castle" />
                }
            </div>
        }
    </div>

    <div class="home__right">
        @if (Castles != null)
        {
            <div class="home__deutschlandkarte-wrapper">
                <Deutschlandkarte Castles="@Castles" OnMapViewChange="HandleOnMapViewChange" />
            </div>
        }
    </div>
</section>

@code {
    IEnumerable<Castle>? Castles { get; set; } 
    private SearchArguments _searchArguments { get; set; } = new SearchArguments();
    private CancellationTokenSource _cancellationTokenSource = new CancellationTokenSource();



    protected override async Task OnInitializedAsync()
    {
        await Requery();

        await base.OnInitializedAsync();
    }

    async Task Requery()
    {
        // Evtl. laufende Vorgänge abbrechen
        _cancellationTokenSource.Cancel();
        _cancellationTokenSource = new CancellationTokenSource();
        var cancellationToken = _cancellationTokenSource.Token;

        Castles = await CastleService.GetCastles(_searchArguments, cancellationToken);
    }

    async Task HandleOnMapViewChange(BoundingBox boundingBox)
    {
        // SearchArguments mit BoundingBox updaten
        _searchArguments.BoundingBox = boundingBox;

        // Neuladen
        await Requery();
    }
}